@import "https://fonts.googleapis.com/css2?family=Raleway:wght@400&disp"; 

 

body { 

  font-family: "Raleway", sans-serif; 

} 

 

div p { 

  background-color: chocolate; 

} 

 

p { 

  background-color: grey; 

  font-size: 40px; 

} 

 

p { 

  background-color: green; 

} 

 