 input { 

    padding: 15px; 
  
  } 
  
   
  
  input:hover { 
  
    background-color: darkred; 
  
  } 
  
   
  
  input:focus { 
  
    background-color: darkolivegreen; 
  
    color: white; 
  
  } 
  
   
  
  .container div:nth-child(odd) { 
  
    color: darkorange; 
  
  } 
  
   
  
  .container div:nth-child(even) { 
  
    color: darkgreen; 
  
  } 
  
   
  
  .container div:last-child { 
  
    color: red; 
  
  } 