.box {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    background-color: lightblue;
    border: 3px solid darkblue;
  }
  
  #element1 {
    position: relative;
    background-color: darkorange;
    border: 3px solid brown;
    top: 20px;
    left: 50px;
  }
  
  #element2 {
    border: 3px solid brown;
    position: relative;
    top: 0px;
    left: 20px;
    background-color: lightblue;
    z-index: -1;
  }