body {
    margin: 0px;
    padding: 0px;
  }
  
  .my-flex-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
  }
  
  .menu {
    width: 150px;
    background-color: cadetblue;
    border-right: 5px solid black;
    margin-right: 5px;
  }
  
  .content {
    background-color: bisque;
    flex-grow: 1;
  }
  