.container {
    border: 1px solid black;
    padding: 15px;
  }
  
  .container img {
    float: left;
    width: 245px;
    margin: 5px;
  }
  
  .container::after {
    content: "";
    display: block;
    clear: both;
  }